OPENAI_API_KEY=

DATA_PATH=data/processed/result_vulnerability_index.csv
COMMUNITY_CSV_PATH=data/raw/community/RentalHousing_CommunityStatus.csv
COMMUNITY_NAMES_PATH=data/processed/unique_community_names_cleaned.txt

LLM_MODEL=gpt-4o
LLM_MAX_TOKENS=3500
LLM_TEMPERATURE=0.2

HOST=0.0.0.0
PORT=8000
